html {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    flex-wrap: wrap;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

footer {
    background-color: rgb(102,102,102);
    color: rgb(255,255,255);
    flex-basis: 100%;
}

header {
    flex-basis: 100%;
    border-bottom: 2px solid black;
    padding: 1rem;
}

main {
    padding: 1rem;
}

header span {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
