<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars Demo</title>
</head>
<body>
    <h1>Welcome to handlebars demo</h1>
    <h4>These are the people that are interested in this lecture:</h4>
    <ul>
        {{#each people}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</body>
</html>