body {
    background: rgb(238, 238, 238);
  }
  
.card {
    position: relative;
    width: 500px;
    height: 600px;
    margin: 60px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
    background: rgb(255, 255, 255);
  }
  
  .card div:nth-child(1) img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .card div:nth-child(2) {
    position: absolute;
    bottom: 10%;
  }
  
  h1 {
    font: 1.0em/1.2 'Georgia', serif; 
    margin-left: 16px;
    margin-top: 10px;
  }
  
  p {
    margin-left: 16px;
    margin-top: 16px;
  }
  
  button {
    background: rgb(0, 153, 0);
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    border:none;
    float:right;
    margin-right: 16px;
    margin-top: 16px;
  }
  
  button:hover {
    cursor: pointer; 
  }
  
