  <main>
        <form action="#" method="" class="cat-form" enctype="multipart/form-data">
            <h2>Add Cat</h2>
            <label for="name">Name</label>
            <input name="name" type="text" id="name">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
            <label for="image">Image</label>
            <input name="upload" type="file" id="image">
            <label for="group">Breed</label>
            <select name="breed" id="group">
                <option value="Fluffy Cat">Fluffy Cat</option>
				<option value="Bombay Cat">Bombay Cat</option>
				<option value="American Bobtail Cat">American Bobtail Cat</option>
				<option value="Bengal Cat">Bengal Cat</option>
				<option value="British Shorthair Cat ">British Shorthair Cat </option>
				<option value="Unknown">Unknown</option>
            </select>
            <button type="submit">Add Cat</button>
        </form>
    </main>
