html {
    font-family: Helvetica, sans-serif;
    margin: 40px;
}

header h1 {
    text-transform: uppercase;
    font-size: 45px;
    display: inline-block;
}

header nav{
    display: inline-block;
}

header nav ul li {
    list-style: none;
    display: inline-block;
}

header nav ul li a{
    padding: 10px;
    color: green;
    text-decoration-line: none;
}

main {
    border-top: 3px solid black;
}

main p {
    padding-top: 5px;
}